<footer>
    <h2>RopaStore</h2>
    <hr>
    <section>
       <div>
            <h4>Tienda</h4>
            <h4>Acerca de</h4>
            <h4>Diario</h4>
            <h4>Contanto</h4>
        </div>
        <div>
            <h4>Centro de Ayuda</h4>
            <h4>Envios/Devoluciones</h4>
            <h4>Politicas de la Tienda</h4>
            <h4>Metodos de Pagos</h4>
        </div>
        <div>
            <h4>RopaStore.com.ar</h4>
            <h4>Avenida 9 de Julio al 3000</h4>
            <h4>3124 N° Capital Federal</h4>
            <h4>Tel:1234-5678</h4>
        </div> 
    </section>
</footer>
