<section class="section-login">
    <form action="">
        <h2>RopaStore</h2>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" [(ngModel)]="emailInput" name="email" placeholder="name@example.com" />
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="inputPassword6" class="col-form-label">Contraseña</label>
                <input type="password" id="inputPassword6" class="form-control" [(ngModel)]="passwordInput" name="password" aria-describedby="passwordHelpInline" />
            </div>
            <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                    Debe tener entre 8 y 20 caracteres.
                </span>
            </div>
        </div>
        <div class="div-botones">
            <button (click)="loginUser()">Iniciar Sesion</button>
            <button type="button" (click)="registrarse()">Registrarce</button>
        </div>
    </form>
</section>