<main>
    <div class="main-titulo">
        <hr>
        <h3>Vesti a la Moda con RopaStore</h3>
        <hr>    
    </div>
    <div class="carucel">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              @for (product of carouselProducts; track $index) {
              <div class="carousel-item active" [class.active]="$index === 0">
                  <img [src]="carouselProducts[$index].image" class="d-block w-100" alt="...">
              </div>
              }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    <div class="main-titulo">
        <hr>
        <h3> Prendas Destacadas de RopaStore </h3>
        <hr>    
    </div>
    <section class="main-seccion-card">
      @for (product of favoritosList; track $index){
        <app-card 
          (click)="detalleProducto(product.id)" 
          [productCard]="product"
          [typeMoneda]="selectedMoneda">
        </app-card>
      } 
    </section>
</main>
