.div-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.div-carrito,.div-favoritos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.div-carrito h2,.div-favoritos h2 {
  grid-column: 1 / -1; /* El título ocupa toda la fila */
  margin-bottom: 15px;
}

.div-product {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.app-card {
  flex-shrink: 0;
  max-width: 150px;
  width: 150px;
  height: auto;
}

.div-product-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.div-btn-cantidad input {
  width: 60px;
  padding: 5px;
  margin: 0% 0% 30% 10%;
  border-radius: 4px;
  border: 1px solid #ccc;
  text-align: center;
}

.btn-eliminar {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-eliminar:hover {
  background-color: #e60000;
}

.div-container-btn {
  align-items: center;
  margin-top: 35%;
}
