<div class="div-container">
    <div class="main-titulo">
        <hr>
        <h3> NUESTRA HISTORIA </h3>
        <hr>    
    </div>
    <img src="/Acerca de.webp" alt="">
    <p class="text-1">RopaStore fue fundada con la visión de ofrecer moda de alta calidad a precios asequibles. Nuestra pasión por la ropa se refleja en cada prenda que vendemos. Queremos que nuestros clientes conozcan la historia detrás de cada colección, desde la inspiración hasta el proceso de diseño y fabricación.</p>
    <p class="text-2">En RopaStore, nos esforzamos por crear una experiencia de compra única para nuestros clientes. Queremos que sepan que detrás de cada prenda hay un equipo dedicado que valora la artesanía, la innovación y la satisfacción del cliente. ¡Únete a nosotros en nuestro viaje de moda y estilo!</p>
</div>
